#wrap {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 200px;
  margin: 30px auto 0px auto;
  display: block;
}

/* Center Heading */
.jumboHeading {
  text-align: center;
  padding: 2em 0;
  font-size: 2.5em;
}

.the-list-of-videos {
    list-style-type: none;
}

a {
  text-decoration: none;
  color: #999;
}

iframe {
  margin: 0 auto;
}

